<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="systemConfig" type="CommonHelper.Config.SystemSettings, CommonHelper"/>
    <section name="loginConfig" type="sAccessControl.Config.UserLoginConfigSection, AccessControlService"/>
  </configSections>

  <loginConfig User="swtadmin" Password="1" PortReader="6789"  Number ="3" TimeOpenDoor="5000" PortMessage="4400" UseTimeKeeping="true"/>
  <systemConfig Master="11111" Partner="22222" TypeComm="JAVA" Languages="vi" JavaWebService="http://localhost:8080/saigonPearlWebservice/sworld/"/>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
