<?xml version="1.0"?>
<configuration>
  <!--Metadata-->
	<configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="localConfig" type="CommonHelper.Config.LocalSettings, CommonHelper"/>
		<section name="wcfServices" type="WcfServiceCommon.WcfServiceConfigurationSection, WcfServiceCommon"/>
	</configSections>

  <!--Caching configuration-->
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  
  <!--Local configuration-->
  <localConfig CheckSymbol="•"
               DateFormat="dd/MM/yyyy"
               DateTimeFormat="HH:mm:ss dd/MM/yyyy"
               Language="vi"
               LastPositionX="0"
               LastPositionY="0"
               LastScreenHeight="600"
               LastScreenWidth="800"
               RecordsPerPage="500"
               TimeFormat="HH:mm:ss">
  </localConfig>
	
  <!--WCF service configuration-->
	<wcfServices consoleMode="On">
		<services>
      <add key="CampusService"
					 serviceAddressPort="localhost:2412"
					 endpointName="CampusServiceEndPoint"
           contractType="CampusModel.ICampusService, CampusModel"/>
    </services>
	</wcfServices>

</configuration>