<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="systemConfig" type="CommonHelper.Config.SystemSettings, CommonHelper"/>
    <section name="loginConfig" type="sAccessControl.Config.UserLoginConfigSection, AccessControlService"/>
  </configSections>
  
  <appSettings>
    <add key="use_timekeeping" value="false" />
    <add key="camera_address" value="rtsp://192.168.1.90:554/video.mp4" />
  </appSettings>
<!--SaigonpearlCode ="12121212" chi su dụng cho saigonpearl khong phai trien khai cho saigonpearl thi de != 12121212-->
  <loginConfig User="swtadmin" Password="1" PortReader="6789"  Number ="3" SaigonpearlCode ="1212121222" TimeOpenDoor="5000" PortMessage="4400"/>
  <systemConfig Master="11111" Partner="22222" TypeComm="JAVA" Languages="vi" JavaWebService="http://localhost:8080/saigonPearlWebservice/sworld/"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
