<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loginConfig" type="sAccessControl.Config.UserLoginConfigSection, sAccessControl" />
    <section name="systemConfig" type="CommonHelper.Config.SystemSettings, CommonHelper" />
    <section name="accessControl" type="sAccessControl.Config.AccessControlConfigSection, sAccessControl" />
    <section name="KeyServerConfig" type="CommonHelper.Config.PublicMasterKeySettings, CommonHelper" />
    <section name="KeyClientConfig" type="CommonHelper.Config.PublicPartnerKeySettings, CommonHelper" />
  </configSections>
  <loginConfig User="swtadmin" Password="123456789" />
  <systemConfig Master="11111" Partner="22222" TypeComm="JAVA" Languages="vi" JavaWebService="http://localhost:8080/sworldwebservice/sworld/" />
  <appSettings>
    <add key="image_dir_path" value="D:\sAtendance\Data\Images" />
    <add key="Camera_CachingTime" value="500" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <KeyServerConfig Modulus="00b993916210fb0270981f2420d41fa8638beab52a31f818465b5e6626bff580fd81ae8864d8844dbd956d80e583e7f8763a59c13f48e6410c70bbce02ed4e84571e84bf859ffe13e4be34d79606977a673e10b9f6d8c0c5e172490e1f5b3ec50106612245b2548c83b0217e95c891926a7b15790115136c788c9bada389171afd" Exponent="010001" />
  <KeyClientConfig Modulus="00b993916210fb0270981f2420d41fa8638beab52a31f818465b5e6626bff580fd81ae8864d8844dbd956d80e583e7f8763a59c13f48e6410c70bbce02ed4e84571e84bf859ffe13e4be34d79606977a673e10b9f6d8c0c5e172490e1f5b3ec50106612245b2548c83b0217e95c891926a7b15790115136c788c9bada389171afd" Exponent="010001" />
  <accessControl>
    <camera enable="YES" camera_type="1" camera_address="rtsp://192.168.1.206:554/live.sdp" />
    <reader type="2" address="0" beep_on_tag="YES" />
  </accessControl>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>